<form [formGroup]="frmArticulos">
    
    <div class="form-group">
      <label for="IdArticuloFamilia">ID del Articulo Familia</label>
      <input 
      type="text"
      formControlName="IdArticuloFamilia"
      class="form-control" 
      name="IdArticuloFamilia" 
      id="IdArticuloFamilia" 
      aria-describedby="helpId" 
      placeholder="Ingrese un ID">
      <small id="helpId" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="Familia">Nombre de Familia</label>
      <input 
      type="text"
      formControlName="Familia"
      class="form-control" 
      name="Familia" 
      id="Familia" 
      aria-describedby="helpId" 
      placeholder="Ingrese un Nombre">
      <small id="helpId" class="form-text text-muted"></small>
    </div>

    <input name="" id="" class="btn btn-primary" type="button" value="Mostrar"
    (click)="mostrar()">

    <input name="" id="" class="btn btn-primary" type="button" value="Limpiar"
    (click)="limpiar()">

</form>